<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${newline}${exception:format=tostring}}"
            fileName="${basedir}/App_Data/logfile.txt"
            archiveFileName="${basedir}/App_Data/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8" />

    <target name="eventLog" xsi:type="EventLog"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:${newline}${exception:format=tostring}}"
            source="[[應用程式名稱]]"
            log="Application" />

    <target name="mail" xsi:type="Mail"
            smtpServer="[[SMTP主機名稱]]"
            smtpPort="25"
            smtpAuthentication="None"
            smtpUserName=""
            smtpPassword=""
            enableSsl="false"
            from="[[寄件人]]&lt;[[寄件人信箱]]&gt;"
            to="[[收件人信箱]]"
            html="false"
            encoding="UTF-8"
            addNewLines="true"
            subject="[[應用程式名稱]]：${machinename} 於 ${shortdate} ${time} 產生 ${level} 等級的紀錄"
            header="========================================================================="
            body="時間：${longdate}
            ${newline}Log等級：${level:uppercase=true}
            ${newline}Logger：${logger}
            ${newline}Source：${callsite:className=true}
            ${newline}Exception類別：${exception:format=type}
            ${newline}錯誤訊息：${message}
            ${newline}${onexception:${exception:format=tostring}} ${newline}"
            footer="========================================================================="
            />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>